#app, h1 {
    text-align: center;
}
table {
    margin: 0 auto;
}
td {
    text-shadow: 0 0 2px black;
    user-select: none;
    width: 28px;
    height:28px;
    cursor:pointer;
    border: solid 1px rgb(89, 109, 108);
    text-align:center;
    border-radius:6px;
    background-color: #97d3c8;
    color: snow;
    box-shadow: 0 0 3px black;
}
td.O {
    color: rgb(22, 43, 128);
    background-color: #d3dc2c;
}
td.X {
    color: rgb(192, 237, 159);
    background-color: #982907;
}