<meta charset='utf-8' />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h1>Amőba</h1>
<div id="app">
    <table>
        <tr v-for="(row,j) in arr">
            <td v-for="(e,i) in row" @click="f(i,j)" :class="e" >{{e}}</td>
        </tr>
    </table>
    <hr>
    <div>{{ debug }}</div>
    <hr>
    <div v-if="nyert">Nyert: {{ nyert }}</div>
</div>

<script>
let next="X", rak=0,
    es = new EventSource("/sse");
var app = new Vue({
  el: '#app',
  data: {
    arr: Array(15).fill(0).map( v => Array(15).fill(' ') ),
    nyert: false,
    debug: null
  },
  mounted() {
    es.onmessage = e => {
        rak--;
        if (rak<0) rak=0;
        let [x,y,p]=e.data.split('-') ;
        this.$set( this.arr[y],x,p );
        next=p==="X"?"O":"X";
        [[1,1],[1,0],[0,1],[-1,1]]
            .forEach( v => {
                let xp=Number(x), yp=Number(y), maxh=0
                while (this.arr[yp] && this.arr[yp][xp]===p) 
                    xp+=v[0], yp+=v[1], maxh++;
                xp=Number(x), yp=Number(y)
                while (this.arr[yp] && this.arr[yp][xp]===p) 
                    xp-=v[0], yp-=v[1], maxh++;
                maxh>5 ? this.nyert = p : null
                if (this.debug<=maxh) this.debug = maxh;
            });
    };
  },
  methods: {
      f(i,j) {
        if (!this.nyert && this.arr[j][i]===" " && rak===0) {
            rak=2;
            axios.get(`/${i}-${j}-${next}`)
        }
      }
  }
})
</script>

<style>
td {
    user-select: none;
    width: 25px;
    height:25px;
    cursor:pointer;
    border: solid 1px rgb(89, 107, 109);
    text-align:center;
    border-radius:6px;
    background-color: #92b9bb;
    color: snow;
    box-shadow: 0 0 3px black;
}
td.O {
    color: snow;
    background-color: #48481a;
}
td.X {
    color: snow;
    background-color: #17524f;
}
</style>